html,
body,
#root {
    height: 100%;
    margin: 0;
}
.grid-container {
    display: grid;
    height: 400px;
    width: 700px;
    align-items: center;
    grid-gap: 20px 20px;
    grid-template-rows: auto 200px auto;
}
div {
    background: #daa520;
    height: 100%;
}
div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}
div:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 2;
}
div:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}
div:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 2;
}
div:nth-of-type(5) {
    grid-column-start: 1;
    grid-column-end: 2;
}
